<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="Agentecon">
        <wb-resource deploy-path="/" source-path="/EarContent" tag="defaultRootSource"/>
        <dependent-module archiveName="AgenteconFront.war" deploy-path="/" handle="module:/resource/AgenteconFront/AgenteconFront">
            <dependent-object/>
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="AgenteconBack.war" deploy-path="/" handle="module:/resource/AgenteconBack/AgenteconBack">
            <dependent-object/>
            <dependency-type>uses</dependency-type>
        </dependent-module>
    </wb-module>
</project-modules>
